# Config Firebase WEB (valeurs publiques — jamais de clé privée ici)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=neurones-hr-360.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=neurones-hr-360
VITE_FIREBASE_STORAGE_BUCKET=neurones-hr-360.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
# Utiliser les émulateurs en dev local
VITE_USE_EMULATORS=true
